@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* calendr style */
*, *:after, *:before {
    box-sizing: border-box;
  }
  :root {
    --c-theme-primary: #008FFD;
    --c-theme-primary-accent: #CBE8FF;
    --c-bg-primary: #D6DAE0;
    --c-bg-secondary: #EAEBEC;
    --c-bg-tertiary: #FDFDFD;
    --c-text-primary: #1F1F25;
    --c-text-secondary: #999FA6;
  }
body{  overflow-x: hidden;
}
  button {
    font: inherit;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
  .datepicker {
    width: 95%;
    max-width: 430px;
    background-color: var(--c-bg-tertiary);
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
    padding: 1rem;
  }
  .datepicker-top {
    margin-bottom: 1rem;
  }
  .btn-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: -.5rem;
  }
  .tag {
    margin-right: .5rem;
    margin-top: .5rem;
    border: 0;
    background-color: var(--c-bg-secondary);
    border-radius: 10px;
    padding: .5em .75em;
    font-weight: 600;
  }
  .month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color:#FFF;
    border-radius: 12px;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
  }
  .month-name {
    font-weight: 600;
  }
  .datepicker-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 1rem;
  }
  .day, .date {
    justify-self: center;
  }
  .day {
    color: var(--c-text-secondary);
    font-size: .875em;
    font-weight: 500;
    justify-self: center;
  }
  .date {
    border: 0;
    padding: 0;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 600;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      outline: 0;
      color: var(--c-theme-primary);
      border: 2px solid var(--c-theme-primary-accent);
    }
  }
  .faded {
    color: var(--c-text-secondary);
  }
  .current-day {
    color: #FFF;
    border-color: var(--c-theme-primary);
    background-color: var(--c-theme-primary);
    &:focus {
      background-color: var(--c-theme-primary-accent);
    }
  }
  .vl {
    border-left: 2px solid rgba(93, 93, 93, 0.227);
    height: 120px;
    width: 5px;
  }
/* end calendr style */
.bg-div {
    background-color: rgb(228, 236, 243);
    width: 250vh;
    height: 4vh;
    z-index: 100;
    
}


.navbar1 {
    height: 150px;
    width: 88vh;
    clip-path: polygon(100% 0, 95% 51%, 90% 100%, 0 100%, 0 55%, 0 0);
    background-color: #ffffff;

    z-index: 100;
}

.navbar2 {
    height: 80px;
    clip-path: polygon(11% 0, 0 0, 100% 0, 100% 100%, 100% 100%, 7% 100%);
    box-shadow: 10px 10px 50px black;
    background-color: rgb(2, 67, 87);
    margin-top: -1rem;
    margin-left: -20rem;
    box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.211);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.btn {
    background-color: white;
    color: rgb(2, 67, 87);
}

.btn:hover {
    background-color: rgb(2, 67, 87);
    color: white;
}

.logo {
    width: 80%;
    /* justify-items: center; */
    margin-bottom: 15rem;
    margin-top: -14rem;
    margin-left: -1rem;
}

.ul-navbar2 {
    margin-left: 25rem;
}

.but-login-navbar2 {
    width: 150px;
}

.but-seeMore {
    width: 350px;
    height: 50px;
    background-color: #1E526A;
    color: #eee;
}

.but-seeMore:hover {
    background-color: white;
    color: rgb(2, 67, 87);
    border: 1px solid #00394f ;

}

.div1-baneer {
    margin-top: -5rem;
    z-index: -1
}

.div2-banner {
    
}

svg path {
    fill: #00394f;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}



#chartdiv {
    width: 50vw;
    height: 50vh;
    font-size: 12px;
    background-color: rgb(228, 236, 243);
}

.img-lastes {
    border-radius: 10px 0 0px 10px;
}

.bg-div7 {
  
  clip-path: polygon(100% 0, 100% 71%, 53% 100%, 0 70%, 0 0, 52% 21%);
  width: 100%;
    height: 80vh;
    background-color: #00394f;
}

.line-1 {
    height: 5px;
    background: #E92228;
    width: 50px;
  }


.li-1{
    width: 150px;
    height: 150px;
    border-radius: 70%;
    background-color: #ffffff6b;
    text-align: center;
    font-size: 20px !important;
    margin-bottom: 30px;
    cursor: pointer;
}
.footer1{
  background-color: #11455C;
  height: 40vh;
}
.footer2{
  background-color: #1A7FAA; 
  clip-path: polygon(11% 0, 0 0, 100% 0, 100% 100%, 100% 100%, 7% 100%); 
  width: 50%; 
  z-index: 1; 
  margin-top: -4rem; 
  position: relative;
  overflow-x: hidden;
}
.logo-footer{
  background-color: white;
  height: 25vh;
  border-radius: 15px;
  background-repeat: no-repeat; 
  background-position: center;
}
.wrap-text {
width: 550px; color: black;
}
.section-map{
  margin-top: -10rem;
}
/* media */
@media all and (max-width: 460px) {
  
    body{
      background-color: #f5f5f5;
    }

    .navbar1 {
        width: 310%;
    }
    .navbar1 img{
      width: 400px;
      margin-left: -5rem;
   
    }

    .navbar2 {
        width: 120px;
        clip-path: none;
        margin-left: 11rem;
        border-radius: 15px;

    }

    .logo {
        width: 109%;
        height: 100%;
        margin-bottom: 0;
        margin-top: -8rem;
        margin-left: -4rem;
    }
    .bg-map{
      
    } 
    
    .div1-baneer{
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    .footer1{
      height: 100%;
    }
    .logo-footer{
      width: 90%;
      height: 15vh;
      
    }
    .footer2{
      height: 70px;
      width: 100%;
      margin-top: -25px;
      clip-path: none;
      
    }
    .bg-div7 {
      width: 100%;
      height: 350px;
      
    }
    .li-1{
      width: 100px;
      height: 100px;
      border-radius: 70%;
      background-color: #ffffff6b;
      text-align: center;
      font-size: 20px !important;
      margin-bottom: 30px;
      cursor: pointer;
  }
  .h1-b1{
    font-size: 25px;
    
  }
  .p1-b1{
    font-size: 12px;
    
  }
  .wrap-text {
    max-width: 150px; 
    word-wrap: break-word;
    font-size: 12px; 
}
.but-seeMore {
  width: 130px;
  height: 40px;
  background-color: #1E526A;
  color: #eee;
  border-radius: 20px;
}
.section-map{
  margin-top: -5rem;
  clip-path: polygon(52% 25%, 100% 0, 100% 50%, 50% 80%, 0 50%, 0% 0%);
}
}